/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}

/*Шрифты*/
@font-face {
    font-family: 'TT Lakes';
    src: url('/fonts/TTLakes-Regular.eot');
    src: local('/fonts/TT Lakes Regular'), local('TTLakes-Regular'),
        url('/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/TTLakes-Regular.woff') format('woff'),
        url('/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/TTLakes-Medium.woff') format('woff'),
        url('/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Bold.woff') format('woff'),
        url('TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


/*Проект*/
@media (min-width: 320px) and (max-width: 767px) {
/* MENU */
.sub-menu {
    position: fixed;
    display: none;  /* Hidden this block, before - flex; */
    flex-direction: column;
    justify-content: space-between;
    top:0px;
    left: 0px;  
    width: 320px;
    height: 100%;
    font-family: 'TT Lakes', Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: white;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    z-index: 1;
}
.sub-menu-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18.7px 24px 0;
}
.sub-menu-up__closed, .sub-menu-up__search {
    height: 40px;
    width: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-menu-up__logo {
    margin-left: auto;
    margin-right: auto;
}
.sub-menu-title {
    height: 28px;
    margin-left: -24px;
    display: flex;
    align-items: center;
    background-color: white;
}
.sub-menu-title__hightlight {
    height: 28px;
    width: 4px;
    background-color: #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.sub-menu-title__text {
    display: flex;
    align-items: center;
    height: 22px;
    margin-left: 20px;
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px; 
}
.sub-menu-list {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    padding-left: 24px;
    margin-bottom: 20px;
}
.sub-menu-list li {
    margin-top: 28px;
}
.sub-menu-list a {
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.sub-menu-bottom {
    display: flex;
    align-items: center;
    padding-left: 24px;
}
.sub-menu-bottom__call, .sub-menu-bottom__chat, .sub-menu-bottom__profile {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 40px;
    width: 40px;
    background-color: #FF3E79;
    border-radius: 50%; 
}
.sub-menu-bottom__chat, .sub-menu-bottom__profile {
    margin-left: 16px;
}
.sub-menu-mail {
    padding-left: 24px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}
.sub-menu-phone {
    padding-left: 24px;
    margin-top: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}
.sub-menu-language {
    margin-top: 40px;
    padding-left: 24px;
}
.sub-menu-language__ru, .sub-menu-language__en, .sub-menu-language__ch {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}
.sub-menu-language__ru {
    color: #7E7E82;
}
.sub-menu-up__closed:hover, .sub-menu-up__search:hover, .sub-menu-bottom__call:hover, 
.sub-menu-bottom__chat:hover, .sub-menu-bottom__profile:hover {
    background-color: #6B7B84;;
    transform: scale(1.2);
    transition-duration: 1s;
    opacity: 0.3;
}


body {
    background-color: #F8F8F8;
    font-family: 'TT Lakes', Arial, sans-serif;
}

.upper-menu {
    background-color: white;
    height: 88px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid  #D9FFF5;
}
.upper-menu__burger, .upper-menu__repair, .upper-menu__check-status {
    height: 40px;
    width: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upper-menu__logo {
    margin-left: 16px;
    margin-right: auto;
}
.upper-menu__divider-2 {
    height: 32px;
    width: 2px;
    background-color: #EAEAEA;
    border-radius: 1px;
}
.upper-menu__repair {
    margin-left: 20px;
}
.upper-menu__check-status {
    margin-left: 16px;
}
.upper-menu__divider-1, .upper-menu__call, .upper-menu__chat, .upper-menu__profile {
    display: none;
}

.title {
    height: 40px;
    margin-bottom: 24px;
}
.title__block-left {
    width: 100%;
    display: flex;
}
.title__hightlight {
    width: 4px;
    background-color: #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.title__text {
    width: 288px;
    margin-left: 12px;
    color: #1B1C21;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;   
}
.title__block-right {
    display: none;
}

.slide-menu {
    height: 40px;
    margin-bottom: 24px;
    display: flex;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    overflow: hidden;
}
.slide-menu__devices, .slide-menu__services, .slide-menu__price, .slide-menu__special-price {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
}
.slide-menu__devices {
    min-width: 246px;
    border: 2px solid #B8FFEC;
    background-color: white;
    order: -1;
}
.slide-menu__services {
    min-width: 211px;
}
.slide-menu__price {
    min-width: 143px;
}
.slide-menu__special-price {
    min-width: 172px;
}
.slide-menu__repaired-brands, .slide-menu__address, .slide-menu__reviews {
    display: none;
}
.fade-slide-menu {
    position: absolute;
    max-height: 40px;
    left: 92.5%;
    right: 0%;
    top: 176px;
    bottom:0%;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }

.info {
    padding: 0 16px; 
    margin-bottom: 16px;
}
.info__about {
    height: 90px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin-bottom: 16px;
}
.info__read-more {
    height: 24px;
    width: 132px;
    display: flex;
    background-color: #F8F8F8;
}
.info__read-more-ico {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.info__read-more-text {
    height: 24px;
    width: 100px;  
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}
.info-img {
    max-width: 100%;
    margin-bottom: 24px;
}
.info-img__picture {
    max-width: 100%;
}


/*  SWIPER */
.swiper {
    height: max-content;
    padding: 16px 16px 32px 16px;
}
.swiper-slide.swiper-slide-active {
    margin-right: 16px;
    max-width: max-content;
}
.swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background: #DDDDDD;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #B5B6BC;
}
.fade-swiper-brand {
    height: 80px;
    position: absolute;
    left: 92.5%;
    right: 0%;
    top: 718px;
    bottom:0%;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    z-index: 10;
}
.fade-swiper-brand {
    height: 164px;
    position: absolute;
    left: 92.5%;
    right: 0%;
    top: 920px;
    bottom:0%;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    z-index: 10;
}
.fade-swiper-price {
    height: 210px;
    position: absolute;
    left: 92.5%;
    right: 0%;
    top: 1205px;
    bottom:0%;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    z-index: 10;
}
.price__slide {
    width: 260px;
    height: 200px;
    padding: 16px;
    padding-top: 6;
    text-align: left;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
}
.price__slide-text-one {
    margin-top: 16px;
    font-family: 'TT Lakes', Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    mix-blend-mode: normal;
    opacity: 0.72;
}
.price__slide-text-two {
    font-family: 'TT Lakes', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}
.price__slide-text-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.price__slide-button-order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    background: #FF3E79;
    border-radius: 16px;
    color: white;
    border-bottom: 1px solid #EAEAEA;
} 


.swiper-slide .repair-type__button {
    margin: 0;
}

/* BLOCK BRANDS */ 
.repair-brands, .repair-type, .price, .repair-brands__all-view, .repair-type__all-view {
    display: none;
}

.repair-brands__title, .repair-type__title, .price__title {
    height: 80px;
    padding: 16px;
    display: flex;
    align-items: center;
    font-family: 'TT Lakes', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }

    .repair-brands__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        width: 240px;
        max-height: 72px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
    }
    
    .repair-brands__img-custom {
        height: 72px;
        padding: 16px;
    }

    .repair-type__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        margin: 24px 32px;
        width: 240px;
        height: 160px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
    }
    
    .repair-type__button-text {
        margin-bottom: auto;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }
    .repair-type__img {
        margin-top: auto;
    }

    /* BLOCK PRICE */ 
    .price__sub-title {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        align-items: center;
        margin: 0 56px;
        height: 50px;
        padding: 16px 0;
    }
    
    .price__sub-title p {
        display: block;
        align-self: center;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        mix-blend-mode: normal;
        opacity: 0.72;
    }
    
    .price__table {
        margin: 0 32px;
        padding: 0 24px;
        background: #FFFFFF;
        border-radius: 6px;
    }
    
    .price__table-line {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        align-items: center;
        border-bottom: 1px solid #EAEAEA;
    }
    
    .price__table-line p {
        display: block;
        align-self: center;
        margin: 23px 0;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }
    
    .price__table-line button {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-left: auto;
        width: 120px;
        height: 30px;
        background: #FF3E79;
        border-radius: 16px;
        color: white;
        border-bottom: 1px solid #EAEAEA;
    }
    
    .price__disclamer {
        max-width: 420px;
        margin: 32px 0 16px 32px;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }
    
    .price__comercial {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #F8F8F8;
        margin-left: 32px;
        margin-bottom: 50px;
    }
    .price__comercial p {
        text-align: left;
        margin-right: 10px;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }
    .price__comercial img {
        margin-right: auto;
    }

    /* BLOCK COMPANY INFO */ 
    .company__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 32px 32px 22px 32px;
        border-top: 1px solid #D9FFF5;
    }
    
    .company__info p, .company__info a {
        text-align: center;
        margin-bottom: 16px;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        mix-blend-mode: normal;
        opacity: 0.72;
        }
    
    .company__info p:last-child {
        text-align: center;
        max-width: 330px;
    }
}


@media (min-width: 768px) and (max-width: 1119px)  {
/* MENU */
.sub-menu {
    position: fixed;
    display: none;  /* Hidden this block, before - flex; */
    flex-direction: column;
    justify-content: space-between;
    top:0px;
    left: 0px;  
    width: 320px;
    height: 100%;
    font-family: 'TT Lakes', Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: white;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    z-index: 1;
}
.sub-menu-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18.7px 24px 0;
}
.sub-menu-up__closed, .sub-menu-up__search {
    height: 40px;
    width: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-menu-up__logo {
    margin-left: auto;
    margin-right: auto;
}
.sub-menu-title {
    height: 28px;
    margin-left: -24px;
    display: flex;
    align-items: center;
    background-color: white;
}
.sub-menu-title__hightlight {
    height: 28px;
    width: 4px;
    background-color: #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.sub-menu-title__text {
    display: flex;
    align-items: center;
    height: 22px;
    margin-left: 20px;
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px; 
}
.sub-menu-list {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    padding-left: 24px;
    margin-bottom: 20px;
}
.sub-menu-list li {
    margin-top: 28px;
}
.sub-menu-list a {
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.sub-menu-bottom {
    display: flex;
    align-items: center;
    padding-left: 24px;
}
.sub-menu-bottom__call, .sub-menu-bottom__chat, .sub-menu-bottom__profile {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 40px;
    width: 40px;
    background-color: #FF3E79;
    border-radius: 50%; 
}
.sub-menu-bottom__chat, .sub-menu-bottom__profile {
    margin-left: 16px;
}
.sub-menu-mail {
    padding-left: 24px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}
.sub-menu-phone {
    padding-left: 24px;
    margin-top: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}
.sub-menu-language {
    margin-top: 40px;
    padding-left: 24px;
}
.sub-menu-language__ru, .sub-menu-language__en, .sub-menu-language__ch {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}
.sub-menu-language__ru {
    color: #7E7E82;
}
.sub-menu-up__closed:hover, .sub-menu-up__search:hover, .sub-menu-bottom__call:hover, 
.sub-menu-bottom__chat:hover, .sub-menu-bottom__profile:hover {
    background-color: #6B7B84;;
    transform: scale(1.2);
    transition-duration: 1s;
    opacity: 0.3;
}


body {
    background-color: #F8F8F8;
    font-family: 'TT Lakes', Arial, sans-serif;
}


.upper-menu {
    background-color: white;
    height: 88px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 40px;
    border-bottom: 1px solid  #D9FFF5;
}
.upper-menu__burger, .upper-menu__call, .upper-menu__chat, .upper-menu__profile,
.upper-menu__repair, .upper-menu__check-status {
    height: 40px;
    width: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upper-menu__divider-1, .upper-menu__divider-2 {
    height: 32px;
    width: 2px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin-left: 20px;
} 
.upper-menu__logo {
    margin-left: 20px;
    margin-right: auto;
}
.upper-menu__chat {
    margin-left: 16px;
}
.upper-menu__profile {
    margin-left: 16px;
}
.upper-menu__repair {
    margin-left: 20px;
}
.upper-menu__check-status {
    margin-left: 16px;
}

.title {
    height: 40px;
    margin-bottom: 24px;
}
.title__block-left {
    width: 100%;
    display: flex;
}
.title__hightlight {
    width: 4px;
    background-color: #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.title__text {
    margin-left: 20px;
    color: #1B1C21;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;   
}
.title__block-right {
    display: none;
}

.slide-menu {
    height: 40px;
    margin-bottom: 24px;
    display: flex;
    padding-left: 24px;
    padding-right: 37px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    overflow: hidden;
}
.slide-menu__devices, .slide-menu__services, .slide-menu__price, 
.slide-menu__address, .slide-menu__special-price, .slide-menu__reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
}
.slide-menu__devices {
    min-width: 248px;
    border: 2px solid #B8FFEC;
    background-color: white;
    order: -1;
}
.slide-menu__services {
    min-width: 211px;
}
.slide-menu__price {
    min-width: 143px;
}
.slide-menu__special-price {
    min-width: 172px;
}
.slide-menu__address {
    min-width: 233px;
    order: 2;
}
.slide-menu__reviews {
    min-width: 95px;
    order: 2;
}
.slide-menu__repaired-brands {
    display: none;
}
.fade-slide-menu {
position: absolute;
max-height: 40px;
left: 92.5%;
right: 0%;
top: 178px;
bottom:0%;
background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.block-info {
    display: flex;
    margin-left: 24px;
    margin-right: 40px;
}
.info {
    width: 50%; 
    padding-left: 24px;   
    
}
.info__about {
    height: 160px;
    min-width: 312px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin-bottom: 10px;
    

}
.info__read-more {
    height: 24px;
    width: 132px;
    margin-left: 1px;
    display: flex;
    background-color: #F8F8F8;
}
.info__read-more-ico {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.info__read-more-text {
    height: 24px;
    width: 100px;  
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.info-img {
    width: 50%; 
    margin-left: 48px;
}
.info-img__picture {
    width: 100%;
    border-radius: 6px;
}

/* BLOCK BRANDS */ 
.repair-brands__name, .repair-type__name {
    display: flex;
    flex-wrap: wrap;
    }
.repair-brands {
    max-height: 260px;
    overflow: hidden;
}
.repair-type__name {
    max-height: 200px;
    overflow: hidden;
}

.repair-brands__title, .repair-type__title, .price__title {
    height: 56px;
    padding: 16px 32px;
    font-family: 'TT Lakes', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }
    
    .repair-brands__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        margin: 16px 32px;
        width: 240px;
        max-height: 72px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
    }
    
    .repair-brands__img-custom {
        height: 72px;
        padding: 16px;
    }
    
    .repair-brands__all-view, .repair-type__all-view {
        display: flex;
        align-items: center;
        padding-left: 40px;
        margin-bottom: 50px;
        height: 24px;
        width: 100%;
        background-color: #F8F8F8;
    }
    
    .repair-brands__all-view-text, .repair-type__all-view-text {
    margin-left: 16px;
    font-family: 'TT Lakes', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    }
    
    .repair-type__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        margin: 24px 32px;
        width: 240px;
        height: 160px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
    }
    
    .repair-type__button-text {
        margin-bottom: auto;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }
    .repair-type__img {
        margin-top: auto;
    }

    /* BLOCK PRICE */ 
    .price__sub-title {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        align-items: center;
        margin: 0 56px;
        height: 50px;
        padding: 16px 0;
    }
    
    .price__sub-title p {
        display: block;
        align-self: center;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        mix-blend-mode: normal;
        opacity: 0.72;
    }
    
    .price__table {
        margin: 0 32px;
        padding: 0 24px;
        background: #FFFFFF;
        border-radius: 6px;
    }
    
    .price__table-line {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        align-items: center;
        border-bottom: 1px solid #EAEAEA;
    }
    
    .price__table-line p {
        display: block;
        align-self: center;
        margin: 23px 0;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }
    
    .price__table-line button {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-left: auto;
        width: 120px;
        height: 30px;
        background: #FF3E79;
        border-radius: 16px;
        color: white;
        border-bottom: 1px solid #EAEAEA;
    }
    
    .price__disclamer {
        max-width: 420px;
        margin: 32px 0 16px 32px;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }
    
    .price__comercial {
        display: flex;
        align-items: center;
        background-color: #F8F8F8;
        margin-left: 32px;
        margin-bottom: 50px;
    }
    
    .price__comercial p {
        margin-right: 10px;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }
    
    /* BLOCK COMPANY INFO */ 
    .company__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 32px 22px 32px;
        border-top: 1px solid #D9FFF5;
    }
    
    .company__info p, .company__info a {
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        mix-blend-mode: normal;
        opacity: 0.72;
        }
    
    .company__info p:last-child {
        text-align: right;
        max-width: 330px;
    }


    /* SWIPER */
    .swiper-hide {
        display: none;
    }
}


@media (min-width: 1120px) {
    /* MENU */
.sub-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    height: 100%;
    font-family: 'TT Lakes', Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: white;
}
.sub-menu-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0 20px;
}
.sub-menu-up__closed, .sub-menu-up__search {
    height: 40px;
    width: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-menu-up__logo {
    margin-left: 22px;
    margin-right: auto;
}
.sub-menu-up__closed {
    display: none;
}
.sub-menu-title {
    height: 28px;
    margin-left: -24px;
    display: flex;
    align-items: center;
    background-color: white;
}
.sub-menu-title__hightlight {
    height: 28px;
    width: 4px;
    background-color: #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.sub-menu-title__text {
    display: flex;
    align-items: center;
    height: 22px;
    margin-left: 20px;
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px; 
}
.sub-menu-list {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    padding-left: 24px;
    margin-bottom: 20px;
}

.sub-menu-list li {
    margin-top: 28px;
}

.sub-menu-list a {
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.sub-menu-bottom {
    display: flex;
    align-items: center;
    padding-left: 24px;
    margin-top: auto;
}
.sub-menu-bottom__call, .sub-menu-bottom__chat, .sub-menu-bottom__profile {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 40px;
    width: 40px;
    background-color: #FF3E79;
    border-radius: 50%; 
}
.sub-menu-bottom__chat, .sub-menu-bottom__profile {
    margin-left: 16px;
}
.sub-menu-mail {
    padding-left: 24px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}
.sub-menu-phone {
    padding-left: 24px;
    margin-top: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}
.sub-menu-language {
    margin-top: 40px;
    margin-bottom: auto;
    padding-left: 24px;
}
.sub-menu-language__ru, .sub-menu-language__en, .sub-menu-language__ch {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}
.sub-menu-language__ru {
    color: #7E7E82;
}
.sub-menu-up__closed:hover, .sub-menu-up__search:hover, .sub-menu-bottom__call:hover, 
.sub-menu-bottom__chat:hover, .sub-menu-bottom__profile:hover {
    background-color: #6B7B84;;
    transform: scale(1.2);
    transition-duration: 1s;
    opacity: 0.3;
} 


    body {
    background-color: #F8F8F8;
    font-family: 'TT Lakes', Arial, sans-serif;
    display: flex;
}

main {
    margin-left: 320px;
}

.upper-menu {
    display: none;
}
.title {
    height: 40px;
    margin-top: 42px;
    margin-bottom: 8px;
    display: flex;
}
.title__block-left {
    width: 50%;
    display: flex;
}
.title__hightlight {
    width: 3px;
    background-color: #41F6D7;
    border-radius: 2px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.title__text {
    margin-left: 30px;
    color: #1B1C21;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;   
}
.title__block-right {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: end;
}
.title-repair, .title-check {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #F8F8F8;
}
.title-repair__text, .ttitle-check__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
} 

.title-repair__text {
    width: 125px;
    margin-right: 8px;
}
.ttitle-check__text {
    width: 119px;
    margin-right: 9px;
}
.title-repair__img, .title-check__img {
    height: 40px;
    width: 40px;
    margin-right: 32px; 
    background-color: #FF3E79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-menu {
    height: 82px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 25px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    overflow: hidden;
}
.slide-menu__repaired-brands, .slide-menu__services, .slide-menu__devices, .slide-menu__price, 
.slide-menu__address, .slide-menu__special-price, .slide-menu__reviews {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
}
.slide-menu__repaired-brands {
    min-width: 233px;
    border: 2px solid #B8FFEC;
    background-color: white;
    order: -1;
}
.slide-menu__devices {
    min-width: 254px;
}
.slide-menu__price {
    min-width: 152px;
}
.slide-menu__special-price {
    min-width: 191px;
}
.slide-menu__address {
    min-width: 233px;
}
.slide-menu__reviews {
    min-width: 95px;
    padding: 13px 0 3px 24px;
}
.slide-menu__services {
    display: none;
}
.fade-slide-menu {
display: none;
}

.block-info {
    display: flex;
    padding-left: 32px;
    padding-right: 29px;
}
.info {
    width: 50%; 
}
.info__about {
    min-height: 160px;
    min-width: 490px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin-left: 2px;
    margin-bottom: 14px;

}
.info__read-more {
    height: 24px;
    width: 132px;
    display: flex;
    background-color: #F8F8F8;
}
.info__read-more-ico {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.info__read-more-text {
    height: 24px;
    width: 100px;  
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.info-img {
    width: 50%; 
    margin-left: 36px;
    padding-right: 29px;
}
.info-img__picture {
    max-width: 100%;
    border-radius: 6px;
}


/* BLOCK BRANDS */ 
.repair-brands__name, .repair-type__name {
    display: flex;
    flex-wrap: wrap;
    }
.repair-brands {
    max-height: 260px;
    overflow: hidden;
}
.repair-type__name {
    max-height: 200px;
    overflow: hidden;
}

.repair-brands__title, .repair-type__title, .price__title {
    height: 56px;
    padding: 16px 32px;
    font-family: 'TT Lakes', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }
    
    .repair-brands__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        margin: 16px 32px;
        width: 240px;
        max-height: 72px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
    }
    
    .repair-brands__img-custom {
        height: 72px;
        padding: 16px;
    }
    
    .repair-brands__all-view, .repair-type__all-view {
        display: flex;
        align-items: center;
        padding-left: 40px;
        margin-bottom: 50px;
        height: 24px;
        width: 100%;
        background-color: #F8F8F8;
    }
    
    .repair-brands__all-view-text, .repair-type__all-view-text {
    margin-left: 16px;
    font-family: 'TT Lakes', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    }
    
    .repair-type__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        margin: 24px 32px;
        width: 240px;
        height: 160px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
    }
    
    .repair-type__button-text {
        margin-bottom: auto;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }
    .repair-type__img {
        margin-top: auto;
    }

    /* BLOCK PRICE */ 
    .price__sub-title {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        align-items: center;
        margin: 0 56px;
        height: 50px;
        padding: 16px 0;
    }
    
    .price__sub-title p {
        display: block;
        align-self: center;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        mix-blend-mode: normal;
        opacity: 0.72;
    }
    
    .price__table {
        margin: 0 32px;
        padding: 0 24px;
        background: #FFFFFF;
        border-radius: 6px;
    }
    
    .price__table-line {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        align-items: center;
        border-bottom: 1px solid #EAEAEA;
    }
    
    .price__table-line p {
        display: block;
        align-self: center;
        margin: 23px 0;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }
    
    .price__table-line button {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-left: auto;
        width: 120px;
        height: 30px;
        background: #FF3E79;
        border-radius: 16px;
        color: white;
        border-bottom: 1px solid #EAEAEA;
    }
    
    .price__disclamer {
        max-width: 420px;
        margin: 32px 0 16px 32px;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }
    
    .price__comercial {
        display: flex;
        align-items: center;
        background-color: #F8F8F8;
        margin-left: 32px;
        margin-bottom: 50px;
    }
    
    .price__comercial p {
        margin-right: 10px;
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }
    
    /* BLOCK COMPANY INFO */ 
    .company__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 32px 22px 32px;
        border-top: 1px solid #D9FFF5;
    }
    
    .company__info p, .company__info a {
        font-family: 'TT Lakes', Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        mix-blend-mode: normal;
        opacity: 0.72;
        }
    
    .company__info p:last-child {
        text-align: right;
        max-width: 330px;
    }


/* SWIPER */
.swiper-hide {
    display: none;
}
}

@media (min-width: 1215px) {
.slide-menu__reviews {
    padding: 0;
}

/* SWIPER */
.swiper-hide {
    display: none;
}
}




